.build/
build/
DerivedData*/
*.xcuserstate
xcuserdata/
.DS_Store
*.log
bash.exe.stackdump

# Android
android/.gradle/
android/**/build/
android/local.properties
android/.kotlin/

# Python
__pycache__/
